<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="../vue-boolzapp/img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Boolzapp</title>
</head>
<body>
    <div id="app">
        
        <!-- Background -->
        <div id="back-header"></div>
        <div id="back-body"></div>

        <!-- Main app -->
        <div id="big-container">

            <!-- Parte di sinistra -->
            <div id="left-container" class="d-flex flex-column">

                <!-- Left header -->
                <div class="app-header d-flex">

                    <!-- User image -->
                    <div class="user d-flex">
                        <img class="user-image" src="img/okk.jpg" alt="Sofia">
                        <span>Giovanni Treglia</span>
                    </div>

                    <!-- User buttons -->
                    <div class="user-buttons d-flex">
                        <span><i class="fa-solid fa-circle-notch"></i></span>
                        <span><i class="fa-solid fa-message"></i></span>
                        <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                    </div>


                </div>

                <!-- Notifiche -->
                <div id="notification" class="d-flex">
                    <span id="notification-bell"><i class="fa-solid fa-bell-slash"></i></span>
                        <div class="user-data-notification d-flex">
                            <span>Ricevi notifiche di nuovi messaggi</span>
                            <p class="last-message"><a href="#">Attiva notifiche desktop</a></p>
                        </div>
                </div>

                <!-- Search bar -->
                <div id="search-bar">
                    <div id="search-wrapper" class="d-flex">
                        <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
                        <input id="search" type="text" placeholder="Cerca o inizia una nuova chat" v-model="filter" @input="filterContacts">
                    </div>
                </div>

                <!-- Lista messaggi -->
                <div id="message-list-container">

                    <!-- Messaggio nella lista -->

                    <div class="user-message" v-for="(contact, index) in contacts" @click="changeContact(index)" v-if="filter.length == 0">
                        
                        <div class="user d-flex">
                            <img class="user-image" :src="contact.avatar" :alt="contact.name">
                            <div class="user-data d-flex">
                                <span>{{ contact.name }}</span>
                                <span class="last-message" v-if="contact.messages.length > 0">{{ contact.messages[contact.messages.length-1].message }}<span class="message-list-hour" v-if="contact.messages.length > 0">{{ contact.messages[contact.messages.length-1].date }}</span></span>                             
                                <span class="last-message" v-else></span>
                            </div>
                        </div>
                        
                    </div>

                    <div class="user-message" v-for="(contact, index) in filteredContacts" @click="changeContact(index)" v-else>
                        <div class="user d-flex">
                            <img class="user-image" :src="contact.avatar" :alt="contact.name">
                            <div class="user-data d-flex">
                                <span>{{ contact.name }}</span>
                                <span class="last-message">{{ contact.messages[contact.messages.length-1].message }}<span class="message-list-hour">{{ contact.messages[contact.messages.length-1].date }}</span></span>
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>



            <!-- Parte di destra -->
            <div id="right-container" class="d-flex flex-column">

                <!-- Right header -->
                <div class="app-header d-flex">
                    <div class="user d-flex">
                        <img class="user-image" :src="contacts[activeContact].avatar" :alt="contacts[activeContact].name">
                        <div class="user-data-notification d-flex">
                            <span>{{ contacts[activeContact].name }}</span>
                            <span class="last-message-up"> {{ contacts[activeContact].stato }}</span>
                            <!--<span class="last-message-up" v-else>Ultimo accesso alle {{ contacts[activeContact].messages[contacts[activeContact].messages.length - 1].date }}</span>-->  
                        </div>
                    </div>

                    <!-- User buttons -->
                    <div class="user-buttons d-flex">
                        <span><i class="fa-solid fa-magnifying-glass"></i></span>
                        <span><i class="fa-solid fa-paperclip"></i></span>
                        <span><i class="fa-solid fa-ellipsis-vertical" @click="contacts[activeContact].visibleDropUp = !contacts[activeContact].visibleDropUp"></i></span>
                        <div class="dropdown" v-show="contacts[activeContact].visibleDropUp">
                            <span class="dropdown-text" @click="deleteMessages">Elimina messaggi</span>
                            <span class="dropdown-text" @click="deleteChat">Elimina chat</span>
                        </div>
                    </div>

                </div>

                <!-- Area testi messaggi -->
                <div id="message-area" class="d-flex">
                    <div class="message d-flex" v-for="(message, index) in contacts[activeContact].messages" :class="message.status == 'sent'?'sent':'received'" v-if="contacts[activeContact].messages.length">
                        <span class="message-text">{{ message.message }}</span>
                        <span class="message-hour">{{ getTime(message.date) }} <span class="chevron" @click="message.visibleDrop = !message.visibleDrop"><i class="fa-solid fa-chevron-down"></i></span></span>
                        <div class="dropdown" v-show="message.visibleDrop">
                            <span class="dropdown-text">{{ message.messageInfo }}</span>
                            <span class="dropdown-text" @click="deleteMessage(index)">{{ message.deleteMessage}}</span>
                        </div>
                    </div>
                    <div class="d-flex" v-else>
                        <div id="nomessage-info">
                            <i class="fa-solid fa-lock"></i> I messaggi e le chiamate sono crittografati end-to-end. Nessuno al di fuori di questa chat, nemmeno WhatsApp, può leggerne o ascoltarne il contenuto. Tocca per saperne di più.
                        </div>
                    </div>
                </div>

                <!-- Input message -->
                <div id="message-input-container" class="d-flex">
                    <label for="message-input"><i class="fa-regular fa-face-smile"></i></label>
                    <input id="message-input" type="text" placeholder="Scrivi un messaggio" v-model="newMessageText" @keyup.enter="addMessage(activeContact)">
                    <span v-if="newMessageText.length == 0"><i class="fa-solid fa-microphone"></i></span>
                    <span id="send-button" v-else @click="addMessage(activeContact)"><i class="fa-solid fa-paper-plane"></i></span>
                </div>
            </div>
            

        </div>

    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>